<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../css/dashboard.css" rel="stylesheet">

    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../home/home.view.html">Form Maker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Username</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-1 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="../home/home.view.html">Home</a></li>
                <li><a href="../users/profile.view.html">Profile</a></li>
                <li><a href="../admin/admin.view.html">Admin</a></li>
                <li class="active"><a href="#">Forms<span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
        <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-1 main">
            <h2 class="page-header">Forms : Registration Form</h2>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="forms.view.html">Forms</a></li>
                <li role="presentation" class="active"><a href="#">Fields</a></li>
            </ul>
            <div class="row">
                <div class="col-sm-6 col-md-6 main">
                    <form>
                        <div class="form-group">
                            <label for="firstname">First Name:</label>
                            <input type="text" class="form-control" id="firstname" placeholder="First Name">
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 col-md-6 main">
                    <br>
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pencil"/>
                    </button>
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"/>
                    </button>
                    <button type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"/>
                    </button>
                    <button type="button" class="btn">
                        <span class="glyphicon glyphicon-menu-hamburger"/>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 main">
                    <form>
                        <div class="form-group">
                            <label for="lastname">Last Name:</label>
                            <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 col-md-6 main">
                    <br>
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pencil"/>
                    </button>
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"/>
                    </button>
                    <button type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"/>
                    </button>
                    <button type="button" class="btn">
                        <span class="glyphicon glyphicon-menu-hamburger"/>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 main">
                    <form>
                        <div class="form-group">
                            <label for="dob">Date of Birth:</label>
                            <input type="date" class="form-control" id="dob">
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 col-md-6 main">
                    <br>
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pencil"/>
                    </button>
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"/>
                    </button>
                    <button type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"/>
                    </button>
                    <button type="button" class="btn">
                        <span class="glyphicon glyphicon-menu-hamburger"/>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 main">
                    <form>
                        <div class="form-group">
                            <label for="gender">Gender:</label>
                            <select class="form-control" id="gender">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 col-md-6 main">
                    <br>
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pencil"/>
                    </button>
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"/>
                    </button>
                    <button type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"/>
                    </button>
                    <button type="button" class="btn">
                        <span class="glyphicon glyphicon-menu-hamburger"/>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 main">
                    <form>
                        <div class="form-group">
                            <label>Roles:</label><br>
                            <input type="checkbox" name="roles"> Admin<br>
                            <input type="checkbox" name="roles"> Student<br>
                            <input type="checkbox" name="roles"> User<br>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 col-md-6 main">
                    <br>
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pencil"/>
                    </button>
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"/>
                    </button>
                    <button type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"/>
                    </button>
                    <button type="button" class="btn">
                        <span class="glyphicon glyphicon-menu-hamburger"/>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 main">
                    <form>
                        <div class="form-group">
                            <label>License Agreement:</label><br>
                            <input type="radio" name="licenseagreement"> Yes<br>
                            <input type="radio" name="licenseagreement"> No<br>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 col-md-6 main">
                    <br>
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pencil"/>
                    </button>
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"/>
                    </button>
                    <button type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"/>
                    </button>
                    <button type="button" class="btn">
                        <span class="glyphicon glyphicon-menu-hamburger"/>
                    </button>
                </div>
            </div>
            <hr class="col-sm-8 col-md-8"/>
            <div class="row">
                <div class="col-sm-6 col-md-6 main">
                    <form>
                        <div class="form-group">
                            <label for="addfield">Add New Field:</label>
                            <select class="form-control" id="addfield">
                                <option value="singlelinetext">Single Line Text</option>
                                <option value="date">Date</option>
                                <option value="dropdown">Dropdown</option>
                                <option value="checkboxes">Checkboxes</option>
                                <option value="radiobuttons">Radio buttons</option>
                                <option value="paragraphtextfield">Paragraph Text Field</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 col-md-6 main">
                    <br/>
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"/>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
