.buttonNoWrap{
    white-space: nowrap;
}

.movie-panel {
    float: left;
    width: 130px;
    margin-right: 15px;
}

.post-panel {

}

#noUnderline {
    text-decoration: none;
}

.noUnderline {
    text-decoration: none;
}

.textAreaSize {
    height : 60px;
    width : 500px;
}

.commentBoxSize {
    height : 40px;
    width : 500px;
}

.selectType {
    width: 200px;
    max-width:0;
    transition: all .5s ease;
    position:absolute;
    right:20px;
    opacity:0;
}

.searchbox {
    width: 200px;
    max-width:0;
    transition: all .5s ease;
    position:absolute;
    right:20px;
    opacity:0;
}

.selectType.expanded {
    max-width:100px;
    opacity:1;
}

.searchbox.expanded {
    max-width:200px;
    opacity:1;
}

@media only screen and (max-width: 900px) {
    #fadeshow1 {
        display: none;
    }
}

@media only screen and (max-width : 900px) {
    #fadeshow2 {
        visibility:visible!important;
        display:block!important;
    }}

#fadeshow2 {
    visibility: none;
    display: none;}