.buttonNoWrap{
    white-space: nowrap;
}

.movie-panel {
    float: left;
    width: 130px;
    margin-right: 15px;
}

#noUnderline {
    text-decoration: none;
}

.textAreaSize {
    height : 60px;
    width : 500px;
}

.commentBoxSize {
    height : 40px;
    width : 500px;
}