<div class="container-fluid">
    <div class="row">
        <div class="main">
            <div class="row">
                <div class="col-md-4 col-xs-1"></div>
                <div class="col-md-4 col-xs-10">
                    <angucomplete-alt
                            id="postTitle"
                            placeholder="Movie"
                            selected-object="model.selectedMovie"
                            remote-url="http://www.omdbapi.com/?s="
                            remote-url-data-field="Search"
                            minlength = "1"
                            title-field="Title"
                            match-class="highlight"
                            input-class="form-control form-control-small borderLessPost form-control-no-border">
                    </angucomplete-alt>
                    <textarea ng-model="model.description" class="form-control customTextArea" placeholder="Description"></textarea>
                    <button ng-click="model.addPost(model.selectedMovie.originalObject, model.description)"
                            class="btn btn-default btn-block flatButtonColor">
                        Post
                    </button>
                </div>
                <div class="col-md-4 col-xs-1"></div>
            </div>
            <br/>
            <div class="row">
                <div class="text-center">
                    <div ng-repeat="post in model.posts">
                        <div class="row">
                            <div class="col-md-4 col-xs-1"></div>
                            <div class="col-md-4 col-xs-10">
                                <a id="noUnderline" ng-click="model.postDetails(post)" href="" class="thumbnail">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img class="img-responsive" ng-src="{{post.movie.Poster}}" width="80px"/>
                                        </div>
                                        <br>
                                        <div class="col-xs-8">
                                            <div class="row">
                                                {{post.user}}
                                            </div>
                                            <div class="row">
                                                is now watching
                                            </div>
                                            <div class="row">
                                                {{post.movie.Title}}
                                            </div>
                                            <div class="row text-muted wrapDesc descWidth">
                                                {{post.description}}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>