<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-1 main">
            <div class="row">
                <input ng-model="movie.title" type="text" class="form-control" placeholder="Movie">
                <br>
                <textarea ng-model="movie.description" type="text" class="form-control" placeholder="Description"></textarea>
                <br>
                <button ng-click="addPost(movie)" class="btn btn-primary">Post</button>
            </div>
            <br/>
            <div class="row">
                <div class="text-center">
                    <div ng-repeat="post in posts">
                        <div class="col-lg-3">
                            <a ng-click="postDetails(post)" style="text-decoration: none" href="" class="thumbnail">
                                <div class="row">
                                    {{post.user}}
                                </div>
                                <div class="row">
                                    is now watching
                                </div>
                                <div class="row">
                                    {{post.title}}
                                </div>
                                <div class="row text-muted">
                                    {{post.description}}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-1 main">
            <div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>
            <div class="row">
                <input ng-model="movie.title" type="text" class="form-control" placeholder="Movie">
                <input ng-model="movie.description" type="text" class="form-control" placeholder="Description">
                <button ng-click="addPost(movie)" class="btn btn-primary">Post</button>
            </div>
            <br/>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>
                                Movie
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Posted By
                            </th>
                            <th>
                                Comments
                            </th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>
                                <input ng-model="newPost.title" type="text" class="form-control" placeholder="Movie">
                            </th>
                            <th>
                                <input ng-model="newPost.description" type="text" class="form-control" placeholder=Description>
                            </th>
                            <th></th>
                            <th>
                                <input ng-model="newPost.comments" type="text" class="form-control" placeholder="Comments">
                            </th>
                            <th class="buttonNoWrap">
                                <button ng-click="addPost(newPost)" class="btn btn-primary glyphicon glyphicon-plus"></button>
                                <button ng-click="updatePost(newPost)" class="btn btn-success glyphicon glyphicon-ok"></button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="post in posts">
                            <td ng-click="itemDetails(post)"><a href="">{{post.title}}</a></td>
                            <td>{{post.description}}</td>
                            <td ng-click="userDetails(post)"><a href="">{{post.user}}</a></td>
                            <td>
                                <ul ng-repeat="comment in post.comments">
                                    <li>{{comment}}</li>
                                </ul>
                            </td>
                            <td class="buttonNoWrap">
                                <button ng-click="deletePost(post)" class="btn btn-danger glyphicon glyphicon-remove"></button>
                                <button ng-click="selectPost(post)" class="btn btn-primary glyphicon glyphicon-pencil"></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>-->