<div class="container">
    <div class="row">
        <div class="main">
            <div id="showMessage" ng-show="model.message" class="alert alert-danger" role="alert">{{model.message}}</div>
            <h2>
                <a ng-click="model.userDetails(model.movie)" href="">
                    {{model.movie.user}}
                </a>
                is now watching
                <a ng-click="model.movieDetails(model.movie)" href="">
                    {{model.movie.title}}
                </a>
            </h2>
            <h3 class="text-muted">{{model.movie.description}}</h3>
            <br>
            <textarea ng-show="currentUser"
                      ng-model="model.comment"
                      class="form-control textAreaSize">
            </textarea>
            <br>
            <button ng-show="currentUser" ng-click="model.addComment(model.comment)" class="btn btn-primary">Comment</button>
            <h3>Comments:</h3>
            <div ng-repeat="comment in model.movie.comments">
                <div  class="thumbnail commentBoxSize">
                    {{comment}}
                </div>
            </div>
        </div>
    </div>
</div>