<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-1 main">
            <div ng-show="model.message" class="alert alert-success" role="alert">
                {{model.message}}  added to your Watchlist
            </div>
            <div class="row">
                <h2>{{model.movie.Title}}</h2>
                <img ng-src="{{model.movie.Poster}}" height="300px" class="pull-left"/>
                <p>
                    {{model.movie.Plot}}
                </p>
                <h3>Actors</h3>
                <ul>
                    <li ng-repeat="actorName in movie.Actors.split(',')">
                        {{actorName}}
                    </li>
                </ul>
                <button ng-show="model.showWatchlist" ng-click="model.addToWatchlist()" class="btn btn-primary">Add to Watchlist</button>
            </div>
        </div>
    </div>
</div>