<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-1 main">
            <div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>
            <h2 ng-click="movieDetails(movie)">Movie: <a href="">{{movie.title}}</a></h2>
            <h3>Description: {{movie.description}}</h3>
            <h3>Posted by: {{movie.user}}</h3>
            <input ng-show="currentUser" ng-model="comment" class="form-control">
            <button ng-show="currentUser" ng-click="addComment(comment)" class="btn btn-primary">Comment</button>
            <h3>Comments:</h3>
            <ul ng-repeat="comment in movie.comments">
                <li>{{comment}}</li>
            </ul>
        </div>
    </div>
</div>